.watchlist-wrapper {
    display: grid;
    grid-gap:1rem;
    height: auto;
    padding: 2rem;
    border-radius: 1rem;
    margin: 2vh 13vw 5vh 13vw;
    background-color: var(--background-color);
    grid-template-columns: repeat(4, 1fr);
}

.watchlist__title {
    text-align: center;
    margin-top: 13vh;
    color: var(--secondary-color);
}