.action-wrapper {
    padding: 4rem;
    display: flex;
    height: 37vh;
    position: relative;
    flex-direction: row;
    border-radius: 1rem;
    margin: 2vh 13vw 2vh 13vw;
    justify-content: space-between;
    background-color: var(--background-color);
}

.action-wrapper__title {
    top: 0.5vh;
    left: 4.5vw;
    position: absolute;
    color: var(--hover-color);
}

.action-prev-link {
    top: 20vh;
    left: 0.5vw;
    font-size: 3rem;
    position: absolute;
    color: var(--secondary-color);
}

.action-next-link {
    right: 0.5vw;
    top: 20vh;
    font-size: 3rem;
    position: absolute;
    color: var(--secondary-color);
}

.action-wrapper a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.action-loading, .action-error {
    top: 20vh;
    left: 33vw;
    text-align: center;
    position: absolute;
    color: var(--secondary-color);
    animation: animate 4s infinite;
}

.action-wrapper .actionlink-wrapper a:hover {
    color: var(--hover-color);
}

.action-wrapper .actionlink-wrapper a {
    right: 4vw;
    bottom: 2vh;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    color: var(--secondary-color);
}

.action-wrapper .actionlink-wrapper a::after {
    content: ">>";
    opacity: 0;
}

.action-wrapper .actionlink-wrapper a:hover::after {
    opacity: 1;
    transition: 0.5s linear;
}