.footer {
    margin-bottom: 0vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
}

.link-left {
    display: flex;
    margin-left: 13vw;
    margin-bottom: 3vw;
    flex-direction: column;
}

.link-left li {
    margin-top: 2vh;
    list-style: none;
}

.link-right {
    margin-right: 13vw;
}

.link-right li {
    margin-top: 2vh;
    list-style: none;
}

.footer__copyright {
    margin-top: 5vh;
    text-align: center;
    color: var(--secondary-color);
}

.highlight {
    font-size: 1.3rem;
    color: var(--primary-color);
}

.link-left__list a, .link-right__list a {
    text-decoration: none;
    color: var(--secondary-color);
}

.link-left__list a:hover, .link-right__list a:hover {
    color: var(--hover-color)
}

.link-left__title {
    color: var(--primary-color);
}

.link-right__title {
    color: var(--primary-color);
}

.link-center {
    display: flex;
    flex-direction: column;
}

.social-links {
    display: flex;
    margin-top: 2vh;
    flex-direction: row;
    justify-content: space-between;
}

.social-links svg {
    font-size: 2rem;
    color: var(--secondary-color);
}

.social-links svg:hover {
    cursor: pointer;
}

.terms-privacy {
    padding: 1rem;
    border-radius: 1rem;
    margin: 15vh 13vw 2vh 13vw;
    color: var(--secondary-color);
    background-color: var(--background-color);
}

.terms-privacy h2 {
    text-align: center;
    color: var(--hover-color);
}

.terms-privacy h4 {
    margin: 2vh;
    font-size: 1.1rem;
}

.terms-privacy li {
    margin: 2vh;
    font-size: 1.2rem;
}