.carousel {
    height:55vh;
    padding: 1.5rem;
    border-radius:1rem;
    position: relative;
    margin: 3vh 13vw 3vh 13vw;
    background-color: var(--background-color);
}

.carousel img {
    height: 50vh;
    width: 40vw;
    border-radius: 1rem;
    transition: 0.5s linear;
    margin: 2vh 13vw 0vh 14.5vw;
}

.carousel a {
    top: 23vh;
    position: absolute;
    color: var(--secondary-color);
}

.carousel a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

.carousel .prev-link {
    left: 1vw;
    font-size: 3rem;
}

.carousel .next-link {
    right: 1vw;
    font-size: 3rem;
}

.loading,.error{
    height:55vh;
    padding: 1.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    border-radius:1rem;
    position: relative;
    margin: 3vh 13vw 3vh 13vw;
    color: var(--secondary-color);
    animation: animate 4s infinite;
    background-color: var(--background-color);
}

